@use '../variables' as *;

.container__panel{
  display: flex;
  padding: 1rem;
  color: white;
  border-radius: $border-radius;

  &.container__panel--departure{
    background-color: $color-blue-light;
  }

  &.container__panel--arrival{
    background-color: $color-green-light;
  }
}