@use '../variables' as *;

.container__panel{
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: $border-radius;
  box-shadow: $simple-shadow;
  min-width: 400px;

  .panel__title{
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &>svg{
      position: absolute;
      color: white;
      width: 36px;
      height: 36px;
      left: 78%;
      bottom: 5px;
    }

    &:after{
      margin-top: 0.2rem;
      content: "";
      height: 3px;
      border-radius: $border-radius;
      width: 90%;
      background-color: white;
    }
  }

  &.container__panel--departure{
    background-color: $color-blue-light;

    & > .panel__list > *:nth-child(odd){
      background-color: $color-blue-lighter;
    }
  }

  &.container__panel--arrival{
    background-color: $color-green-light;

    & > .panel__list > *:nth-child(odd){
      background-color: $color-green-lighter;
    }
  }

  .panel__list{
    display: flex;
    flex-direction: column;

    .panel__empty{
      width: 100%;
      padding: 1rem;
      display: flex;
    }
  }
}

@media (max-width: 860px) {
  .container__panel .panel__title > svg{
    left: 81%;
  }
}

@media (max-width: 670px) {
  .container__panel .panel__title > svg{
    left: 81%;
  }
}

@media (max-width: 520px) {
  .container__panel {
    min-width: 100%;
    .panel__title > svg {
      width: 30px;
      height: 30px;
    }
  }
}