@use '../variables' as *;

.panel__element {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 35px;

  .panel__information{
    display: flex;
    flex-direction: column;

    .panel__destination{
      font-weight: 600;
    }

    .panel__trainId{
      font-size: 1.2rem;
      opacity: 0.9;
      margin-left: 0.2rem;
    }
  }

  .panel__schedule{
    display: flex;
    gap: 1rem;
    align-items: center;

    .panel__clock{
      font-weight: 700;
      font-size: 1.8rem;
      color: $color-yellow;
      width: 60px;
    }
    .panel__delay{
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      width: 60px;

      &.panel__delay--delayed{
      font-weight: 600;
        color: $color-yellow;
      }
    }

    //&:after{
    //  content: '●';
    //}
  }
}