//Color
$color-blue-dark: #010344;
$color-blue-light: #3850c7;
$color-blue-lighter: #6075DC;
$color-green-light: #308353;
$color-green-lighter: #619B7A;
$color-white: #F7F4F3;
$color-yellow: #f6e968;
$color-grey-light: #888888;


//Layout
$border-radius: 10px;

//Shadow
$simple-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
$soft-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);