//Color
$color-blue-dark: #010344;
$color-blue-light: #465FDA;
$color-blue-lighter: #6075DC;
$color-green-light: #3C895D;
$color-green-lighter: #619B7A;
$color-white: #F7F4F3;

//Layout
$border-radius: 10px;